*{
    background-color: rgb(190, 230, 230);

}
body{
    background-color: rgb(213, 238, 154);
}
.container{
    background-color: rgb(213, 238, 154);

}

h2{
    font-size: 250%;
    color: rgb(253, 151, 151);
}
img{
    display: block;
    background-color: rgba(173, 196, 196,0.5);
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 1420px;
}